<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisecard.sst.dao.ITermInfoMapper">
  <resultMap id="BaseResultMap" type="com.wisecard.sst.vo.dao.TermInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devid" jdbcType="VARCHAR" property="devid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, devid, address, descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos (id, ip, devid, 
      address, descript)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{devid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devid != null">
        devid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="descript != null">
        descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        devid = #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    set ip = #{ip,jdbcType=VARCHAR},
      devid = #{devid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.wisecard.sst.vo.dao.TermInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devid" jdbcType="VARCHAR" property="devid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, devid, address, descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos (id, ip, devid, 
      address, descript)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{devid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devid != null">
        devid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="descript != null">
        descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        devid = #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    set ip = #{ip,jdbcType=VARCHAR},
      devid = #{devid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.wisecard.sst.vo.dao.TermInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devid" jdbcType="VARCHAR" property="devid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, devid, address, descript
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from term_infos
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos (id, ip, devid, 
      address, descript)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{devid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    insert into term_infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devid != null">
        devid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="descript != null">
        descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        devid = #{devid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisecard.sst.vo.dao.TermInfo">
    update term_infos
    set ip = #{ip,jdbcType=VARCHAR},
      devid = #{devid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getTerms" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from term_infos
    where #{conditions,jdbcType=VARCHAR}
  </select>
</mapper>