<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisecard.sst.dao.ITransRecordMapper">
  <resultMap id="BaseResultMap" type="com.wisecard.sst.vo.dao.TransRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="requistid" jdbcType="INTEGER" property="requistid" />
    <result column="responseid" jdbcType="INTEGER" property="responseid" />
    <result column="transtime" jdbcType="TIMESTAMP" property="transtime" />
    <result column="transtype" jdbcType="INTEGER" property="transtype" />
    <result column="cardno" jdbcType="java.lang.String" property="cardno" />
    <result column="pansn" jdbcType="VARCHAR" property="pansn" />
    <result column="atc" jdbcType="INTEGER" property="atc" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, requistid, responseid, transtime, transtype, cardno, pansn, atc, amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transrecords
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transrecords
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wisecard.sst.vo.dao.TransRecord">
    insert into transrecords (id, appid, requistid, 
      responseid, transtime, transtype, 
      cardno, pansn, atc, 
      amount)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{requistid,jdbcType=INTEGER}, 
      #{responseid,jdbcType=INTEGER}, #{transtime,jdbcType=TIMESTAMP}, #{transtype,jdbcType=INTEGER}, 
      #{cardno,jdbcType=java.lang.String}, #{pansn,jdbcType=VARCHAR}, #{atc,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wisecard.sst.vo.dao.TransRecord">
    insert into transrecords
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="requistid != null">
        requistid,
      </if>
      <if test="responseid != null">
        responseid,
      </if>
      <if test="transtime != null">
        transtime,
      </if>
      <if test="transtype != null">
        transtype,
      </if>
      <if test="cardno != null">
        cardno,
      </if>
      <if test="pansn != null">
        pansn,
      </if>
      <if test="atc != null">
        atc,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="requistid != null">
        #{requistid,jdbcType=INTEGER},
      </if>
      <if test="responseid != null">
        #{responseid,jdbcType=INTEGER},
      </if>
      <if test="transtime != null">
        #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtype != null">
        #{transtype,jdbcType=INTEGER},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=java.lang.String},
      </if>
      <if test="pansn != null">
        #{pansn,jdbcType=VARCHAR},
      </if>
      <if test="atc != null">
        #{atc,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisecard.sst.vo.dao.TransRecord">
    update transrecords
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="requistid != null">
        requistid = #{requistid,jdbcType=INTEGER},
      </if>
      <if test="responseid != null">
        responseid = #{responseid,jdbcType=INTEGER},
      </if>
      <if test="transtime != null">
        transtime = #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtype != null">
        transtype = #{transtype,jdbcType=INTEGER},
      </if>
      <if test="cardno != null">
        cardno = #{cardno,jdbcType=java.lang.String},
      </if>
      <if test="pansn != null">
        pansn = #{pansn,jdbcType=VARCHAR},
      </if>
      <if test="atc != null">
        atc = #{atc,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisecard.sst.vo.dao.TransRecord">
    update transrecords
    set appid = #{appid,jdbcType=VARCHAR},
      requistid = #{requistid,jdbcType=INTEGER},
      responseid = #{responseid,jdbcType=INTEGER},
      transtime = #{transtime,jdbcType=TIMESTAMP},
      transtype = #{transtype,jdbcType=INTEGER},
      cardno = #{cardno,jdbcType=java.lang.String},
      pansn = #{pansn,jdbcType=VARCHAR},
      atc = #{atc,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getRecords" parameterType="com.wisecard.sst.vo.dao.RecordMatch" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transrecords
    where 1
    <if test="start!=null and end!=null" >
    	AND BETWEEN #{start,jdbcType=TIMESTAMP} AND #{end,jdbcType=TIMESTAMP}
    </if>
    <if test="transtime!=null and ( start==null and end==null)" >
    	AND transtime=#{transtime!=null,jdbcType=TIMESTAMP}
    </if>
    <if test="cardno!=null">
    	AND cardno=#{cardno,jdbcType=java.lang.String}
    </if>
    <if test="transtype!=null">
    	AND transtype=#{transtype,jdbcType=Integer}
    </if>
    <if test="requistid!=null">
    	AND requistid=#{requistid,jdbcType=Integer}
    </if>
    <if test="responseid!=null">
    	AND responseid=#{responseid,jdbcType=Integer}
    </if>
  </select>
  
  <select id="gets" parameterType="java.lang.String" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from transrecords
    where #{conditions,jdbcType="java.lang.String"}
  </select>
</mapper>