<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisecard.sst.dao.IRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.wisecard.sst.vo.dao.RecordInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="transtype" jdbcType="VARCHAR" property="transtype" />
    <result column="transamount" jdbcType="INTEGER" property="transamount" />
    <result column="transaccount" jdbcType="VARCHAR" property="transaccount" />
    <result column="transtime" jdbcType="TIMESTAMP" property="transtime" />
    <result column="reqid" jdbcType="VARCHAR" property="reqid" />
    <result column="rspid" jdbcType="VARCHAR" property="rspid" />
    <result column="tracks" jdbcType="VARCHAR" property="tracks" />
    <result column="atc" jdbcType="INTEGER" property="atc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, transtype, transamount, transaccount, transtime, reqid, rspid, tracks, atc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wisecard.sst.vo.dao.RecordInfo">
    insert into record_info (id, transtype, transamount, 
      transaccount, transtime, reqid, 
      rspid, tracks, atc)
    values (#{id,jdbcType=INTEGER}, #{transtype,jdbcType=VARCHAR}, #{transamount,jdbcType=INTEGER}, 
      #{transaccount,jdbcType=VARCHAR}, #{transtime,jdbcType=TIMESTAMP}, #{reqid,jdbcType=VARCHAR}, 
      #{rspid,jdbcType=VARCHAR}, #{tracks,jdbcType=VARCHAR}, #{atc,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wisecard.sst.vo.dao.RecordInfo">
    insert into record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transtype != null">
        transtype,
      </if>
      <if test="transamount != null">
        transamount,
      </if>
      <if test="transaccount != null">
        transaccount,
      </if>
      <if test="transtime != null">
        transtime,
      </if>
      <if test="reqid != null">
        reqid,
      </if>
      <if test="rspid != null">
        rspid,
      </if>
      <if test="tracks != null">
        tracks,
      </if>
      <if test="atc != null">
        atc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transtype != null">
        #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="transamount != null">
        #{transamount,jdbcType=INTEGER},
      </if>
      <if test="transaccount != null">
        #{transaccount,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null">
        #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqid != null">
        #{reqid,jdbcType=VARCHAR},
      </if>
      <if test="rspid != null">
        #{rspid,jdbcType=VARCHAR},
      </if>
      <if test="tracks != null">
        #{tracks,jdbcType=VARCHAR},
      </if>
      <if test="atc != null">
        #{atc,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisecard.sst.vo.dao.RecordInfo">
    update record_info
    <set>
      <if test="transtype != null">
        transtype = #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="transamount != null">
        transamount = #{transamount,jdbcType=INTEGER},
      </if>
      <if test="transaccount != null">
        transaccount = #{transaccount,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null">
        transtime = #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqid != null">
        reqid = #{reqid,jdbcType=VARCHAR},
      </if>
      <if test="rspid != null">
        rspid = #{rspid,jdbcType=VARCHAR},
      </if>
      <if test="tracks != null">
        tracks = #{tracks,jdbcType=VARCHAR},
      </if>
      <if test="atc != null">
        atc = #{atc,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisecard.sst.vo.dao.RecordInfo">
    update record_info
    set transtype = #{transtype,jdbcType=VARCHAR},
      transamount = #{transamount,jdbcType=INTEGER},
      transaccount = #{transaccount,jdbcType=VARCHAR},
      transtime = #{transtime,jdbcType=TIMESTAMP},
      reqid = #{reqid,jdbcType=VARCHAR},
      rspid = #{rspid,jdbcType=VARCHAR},
      tracks = #{tracks,jdbcType=VARCHAR},
      atc = #{atc,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="gets" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_info
    where #{conditions,jdbcType=INTEGER}
  </select>
</mapper>